<h4> Date and Time you first noticed this Bug *</h4>

<form > 
 <input type="date" name="bday">
<br></form><br/>

<h4>Impact</h4>

<select class="custom-select">
    <option value="Low">Low</option>
    <option value="Moderate">Moderate</option>
    <option value="High">High</option>
 </select>

 <div>
 <br><h4>Detailed Explanation of Bug*</h4><br/>
    <textarea rows="4" cols="50">
    </textarea>
</div>
<div style="text-align:center">
    <button class="btn btn-primary" type="submit">Submit Report</button>
</div>